/* COLOR SCHEME
	#2B3A42 // Other
	#3F5765 // Shadow
	#BDD4DE // Main
	#EFEFEF // Font
	#FF530D // Highlight
*/

.container {
	margin : 0;
	width : 100%;
}

body {
	background-color : #BDD4DE;
}

p {
	font-family : 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family : 'Montserrat', sans-serif;
	color : #FF530D;
}

.navbar {
	background-color: #3F5765;
}

.nav.navbar-nav li a{
	color : #EFEFEF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2B3A42;
    color: #EFEFEF;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

#lightsContent {
	font-size: 18;
	text-align: center;
	margin-left : 15%;
	margin-right : 15%;
	margin-top : 47%;
	width : auto;
}

#lightsContent p{
	text-align: center;
}



#signsContent {
	font-size: 18;
	text-align: center;
	margin-left : 15%;
	margin-right : 15%;
	width : auto;
}

#signsContent p{
	text-align: center;
}

#homeContent {
	font-size: 18;
	text-align: center;
}

#homeContent p{
	margin-left : 10%;
	margin-right : 10%;
	width : auto;
	text-align: center;
}

#seatsContent {
	font-size : 48;
	float : right;
	text-align: right;
}

#seatsContent h1 {
	text-align: right;
}

#seatsContent p {
	text-align: right;
	font-size : 18;
	margin-left : 10%;
	float : right;
}

#seatsContent img { 
	float : right;
	margin-right : 0.5%;
}


#lightsContent,
#seatsContent ,
#signsContent {
	display : none;
	text-align : center;
}

#ignore1,
#ignore2,
#follow1,
#follow2 {
	display : none;
}

#ignore1,
#ignore2 {
	text-align : center;
}